/* ./src/css/index.css */
@import 'variables.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: var(--base);
    height: 100%;
    transition: background-color 100ms ease;
    font-family: var(--fontFamily);
}